<div class="flex flex-col items-center justify-center p-5 space-y-3 text-light-beige-color"
[ngStyle]="{
  background:
    'linear-gradient(to right, #597fb9 0%, #283953 41%, #283953 100%)',
}">

    <div class="text-4xl font-semibold text-blue2-color">Ha Nguyen</div>
    <div class="menu space-x-3 text-lg font-medium">
      <a href="#about" class="cursor-pointer">About</a>
      <a href="#skills" class="cursor-pointer">Skills</a>
      <a href="#projects" class="cursor-pointer">Projects</a>
      <a href="#work-experience" >Experience</a>
      <a href="resume/HaNguyen_Resume.pdf" target="_blank" class="cursor-pointer">Resume</a>
    </div>
    <div>
        <a
        href="https://www.linkedin.com/in/nguyen-ha-itcs/"
        target="_blank"
        class="animate-show-up animate-delay-1 relative inline-block px-3 font-medium"
        ><i class="ri-linkedin-box-fill text-3xl"></i
      ></a>
      <a
        href="https://github.com/hanguyen2403"
        target="_blank"
        class="animate-show-up animate-delay-1 relative inline-block px-3 font-medium"
        ><i class="ri-github-fill text-3xl "></i
      ></a>
    </div>
    <p class="font-medium">© 2024 Ha Nguyen. All rights reserved.</p>
</div>