<div class="flex flex-col items-center justify-center p-5 space-y-3 text-dark-blue-color">
    <div class="text-4xl font-semibold text-blue2-color">Ha Nguyen</div>
    <div class="menu space-x-3 text-lg font-medium">
        <a href="" >About</a>
        <a href="" >Skills</a>
        <a href="" >Experience</a>
        <a href="" >Projects</a>
        <a href="" >Resume</a>
    </div>
    <div>
        <a
        href="https://www.linkedin.com/in/nguyen-ha-itcs/"
        target="_blank"
        class="animate-show-up animate-delay-1 relative inline-block px-3 font-medium"
        ><i class="ri-linkedin-box-fill text-3xl"></i
      ></a>
      <a
        href="https://github.com/hanguyen2403"
        target="_blank"
        class="animate-show-up animate-delay-1 relative inline-block px-3 font-medium"
        ><i class="ri-github-fill text-3xl "></i
      ></a>
    </div>
    <p class="font-medium">© 2024 Ha Nguyen. All rights reserved.</p>
</div>