.card-width{
    max-width: 21rem;
}
.card-height{
    max-height: 600px;
}
.truncate-text {
    display: block; /* Ensures the text wraps properly */
    overflow: hidden; /* Hides any overflowing content */
    text-overflow: ellipsis; /* Adds the ellipsis (...) */
    max-height: 100%; /* Adjusts dynamically based on the container height */
    line-height: 1.5rem; /* Sets the line height (adjust based on your font size) */
    white-space: nowrap; /* Prevents line breaks if needed, remove for multiline ellipsis */
}
