<app-header></app-header>
<!-- <router-outlet></router-outlet> -->
<div class="content overflow-hidden" style="padding-top: 64px;">
  <div id="home">
    <app-home></app-home>
  </div>
  <div id="about">
    <app-about></app-about>
  </div>
  <div class="flex w-full justify-end">
    <div
      class="h-[50px] w-2/3 rounded-l-full items-end justify-end flex"
      [ngStyle]="{
        'background': 'linear-gradient(to right, #597fb9 0%, #283953 41%, #283953 100%)'
      }">
    </div>
  </div>
  <div id="skills">
    <app-skills></app-skills>
  </div>
  <div id="projects">
    <app-projects></app-projects>
  </div>
  <div id="work-experience">
    <app-work-experience></app-work-experience>
  </div>
  <div id="contact">
    <app-contact></app-contact>
  </div>
</div>
<app-footer></app-footer>
<!-- Scroll-Up Button -->
<button
  id="scroll-up-btn"
  class="fixed bottom-4 right-4 z-50 hidden h-12 w-12 rounded-full bg-blue4-color text-dark-blue-color shadow-lg hover:bg-blue-400 focus:outline-none focus:ring"
  (click)="scrollToTop()"
>
   <i class="ri-arrow-up-fill text-3xl"></i>
</button>
