<app-header></app-header>
<!-- <router-outlet></router-outlet> -->
<div class="content" style="padding-top: 64px;">
  <div id="home">
    <app-home></app-home>
  </div>
  <div id="about">
    <app-about></app-about>
  </div>
  <div id="skills">
    <app-skills></app-skills>
  </div>
  <div id="projects">
    <app-projects></app-projects>
  </div>
  <div id="work-experience">
    <app-work-experience></app-work-experience>
  </div>
  <div id="contact">
    <app-contact></app-contact>
  </div>
</div>
<app-footer></app-footer>
