:root {
    --primary: #000; /* Replace with your theme's primary color */
    --secondary: #854CE6; /* Adjust for your needs */
  }
  .text-primary {
    color: var(--primary);
  }
  .text-secondary {
    color: var(--secondary);
  }
  .border-secondary {
    border-color: var(--secondary);
  }
  