<div
  id="experience"
  class="relative z-10 flex flex-col items-center justify-center py-10 text-dark-blue-color"
>
  <div class="flex w-full max-w-5xl flex-col items-center gap-4 px-4">
    <div class="animate-show-up animate-delay-1 relative">
      <div
        class="absolute left-56 z-0 hidden h-10 w-16 bg-blue4-color md:flex"
      ></div>
      <h1 class="relative z-10 font-bold text-5xl">Experience.</h1>
    </div>
    <p class="max-w-xl text-center font-medium text-xl">
      My work experience as a software engineer and working on different
      companies and projects.
    </p>
    <div
      class="relative mt-3 flex w-full flex-col items-start justify-start gap-3 md:items-center md:justify-center"
    >
      <div
        class="absolute hidden h-full w-[2px] flex-col bg-dark-blue-color md:flex"
      ></div>
      <div
        class="absolute left-11 h-full w-[2px] flex-col bg-dark-blue-color md:hidden"
      ></div>
      <li
        *ngFor="let experience of experiences; let i = index"
        #experienceItem
        class="relative mb-10 flex w-full justify-center opacity-0"
        [ngClass]="{
          'md:justify-start': i % 2 !== 0,
          'md:justify-end': i % 2 === 0,
        }"
      >
        <img
          class="absolute left-5 flex h-14 w-14 items-center justify-center rounded-full border-4 border-dark-blue-color md:left-[47%] md:h-16 md:w-16"
          src="{{ experience.img }}"
        />
        <!-- Container for the Experience Card -->
        <span
          class="absolute top-4 hidden text-2xl font-medium text-dark-blue-color md:flex"
          [ngClass]="{
            'right-44': i % 2 !== 0,
            'left-44': i % 2 === 0,
          }"
        >
          {{ experience.date }}
        </span>
        <div
          class="ml-24 mr-10 flex w-full flex-col items-end md:ml-0 md:mr-0 md:w-2/5"
          [ngClass]="{
            'md:ml-10': i % 2 !== 0,
            'md:mr-10': i % 2 === 0,
          }"
        >
          <app-experience-card [experience]="experience"></app-experience-card>
        </div>
      </li>
    </div>
  </div>
</div>
