<div
  id="experience"
  class="relative z-10 flex flex-col items-center justify-center py-10 text-dark-blue-color"
>
  <div class="flex w-full max-w-5xl flex-col items-center gap-4 px-4">
    <h2 class="mt-5 text-center text-5xl font-semibold sm:mt-3">Experience</h2>
    <p class="max-w-xl text-center text-lg sm:text-base">
      My work experience as a software engineer and working on different
      companies and projects.
    </p>
    <div class="mt-3 flex w-full max-w-3xl flex-col items-center gap-3">
      <ol class="absolute border-l-4 border-dark-blue-color md:left-1/2 left-10">
        <li
          *ngFor="let experience of experiences; let i = index"
          class="relative mb-10"
        >
          <img
            class="absolute border-dark-blue-color -left-7 md:-left-8 flex h-14 w-14 md:h-16 md:w-16 items-center justify-center rounded-full border-4 "
            src="{{experience.img}}"
          />
          <span class="hidden md:flex absolute text-dark-blue-color font-medium top-4 text-2xl"
          [ngClass]="{
            ' md:translate-x-[25%]': i % 2 !== 0,
            ' md:translate-x-[-125%]': i % 2 === 0,
          }"> {{experience.date}} </span>
          <div
            class="ml-7 md:ml-0 w-[90%] md:w-2/3 px-5 md:px-0 py-3"
            [ngClass]="{
              ' md:translate-x-[-113%]': i % 2 !== 0,
              ' md:translate-x-[13%]': i % 2 === 0,
            }"
          >
            <app-experience-card
              [experience]="experience"
            ></app-experience-card>
            
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>