<div
  class="relative flex h-auto flex-col items-center justify-center overflow-hidden p-10 md:flex-row md:gap-28"
>
  <div
    class="circle absolute -right-36 -top-28 hidden h-80 w-80 rounded-full border-dark-blue-color md:flex"
  ></div>
  <div
    class="circle absolute -right-32 -top-32 hidden h-80 w-80 rounded-full border-dark-blue-color md:flex"
  ></div>

  <div
    class="animate-show-up animate-delay-1 relative flex h-64 w-64 items-center justify-center bg-light-beige-color"
  >
    <!-- Rectangle -->
    <div class="rectangle absolute -left-7 top-4 h-64 w-64 bg-blue4-color">
      <div class="absolute rotate-12 text-5xl">
        <i class="ri-gemini-fill absolute -left-4 top-8 text-blue2-color"></i>
        <i class="ri-shining-line absolute -left-6 top-8"></i>
      </div>
    </div>

    <!-- Image -->
    <img
      src="\img\avatar.png"
      alt="avatar"
      class="absolute inset-0 h-full w-full object-cover"
    />
  </div>

  <div class="dark-text contact relative w-full p-10 md:w-1/2">
    <!-- Positioning adjusted -->
    <div class="animate-show-up animate-delay-1 relative">
      <div
        class="absolute -top-2 left-44 z-0 hidden h-10 w-16 bg-blue4-color md:flex"
      ></div>
      <h1 class="relative z-10 text-3xl font-bold md:text-5xl">About Me.</h1>
    </div>
    <div
      class="animate-show-up animate-delay-1 relative font-medium md:ml-10 md:mt-5 md:text-xl"
    >
      <div class="dash absolute -left-14 top-3"></div>
      Soon to be graduate with a degree in <b>Computer Science</b> and a passion
      for building seamless and functional user interfaces. Seeking a role to
      apply exceptional ability to switch between programming languages and
      frameworks as needed, while working quickly and independently.
    </div>
    <div class="button flex flex-row">
      <a
      href="#contact"
      class="animate-show-up animate-delay-1 relative inline-block text-sm px-3 md:px-6 py-2 mt-5 md:text-lg font-medium text-dark-blue-color bg-blue4-color mr-5 md:ml-10"
      ><i class="ri-send-plane-line"></i> Contact Me</a
    >
      <a
        (click)="downloadCV()"
        class="animate-show-up cursor-pointer animate-delay-1 relative inline-block text-sm px-3 md:px-6 py-2 mt-5 md:text-lg font-medium text-dark-blue-color bg-blue4-color"
        >Download CV <i class="ri-attachment-2"></i> </a
      >    
    </div>
  </div>
</div>
